/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

@font-face {
	font-family: Gilbert, sans-serif;
	src: url(../assets/gilbert-color.otf);
	font-weight: 700;
}

.wp-block-create-block-mo-test {
	font-family: Gilbert, sans-serif;
	font-size: 64px;
}

.mo-test-block {
	background-color: yellowgreen;
	padding: 12px;
}

.person_frontend_container {

	
	.person_container_content{
		background-color: #fdfdfd;
		border: 1px solid #eaeaea;
		padding: 12px;
	
		ul.mo_person_social_media {
			list-style: none;
			display: grid;
			padding: 0;
			grid-template-columns: repeat(auto-fill, minmax(135px, 1fr));
		
			.social_item_list {
				margin: 8px;
			}
			a.social_link {
				display: flex;
				align-items: center;
		
				svg {
					margin-right: 6px;
					color: rgb(59, 71, 43);
					width: 18px !important;
		
				}
			}
		}
		
		.mo_person_position {
			display: flex;
			justify-content: center;
			font-size: 1.1rem;
			font-weight: 700;
		}
		.mo_person_full_name {
			display: flex;
			justify-content: center;
			font-size: 1.1rem;
			font-weight: 400;
		}
		.mo_person_description {
			display: flex;
			justify-content: center;
			font-size: 1.1rem;
			font-weight: 100;
		}
		
		.mo_person_image {
			padding: 1rem;
			margin: 1rem;
			display: flex;
			justify-content: center;
			img {
				border-radius: 50%;
			}
		}
		
	}

	.mo_person_modal {
		background-color: rgba(0, 0, 0, 0.295);

		.modal-content {
			border-radius: 0;
			background-color: #ddd;
			padding: 1.5rem;
			position: relative;
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			-webkit-box-orient: vertical;
			-webkit-box-direction: normal;
			-ms-flex-direction: column;
			flex-direction: column;
			width: 100%;
			pointer-events: auto;
			background-clip: padding-box;
			border: 1px solid rgba(0,0,0,.2);
			outline: 0;
		}

		ul.mo_person_social_media {
			margin-top: 10px;
			list-style: none;
			display: grid;
			padding: 0;
			grid-template-columns: repeat(auto-fill, minmax(135px, 1fr));
		
			.social_item_list {
				margin: 8px;
			}
			a.social_link {
				display: flex;
				align-items: center;
				color: #000;
				text-decoration: underline;
				font-size: 1.1rem;
		
				svg {
					margin-right: 6px;
					color: rgb(59, 71, 43);
					width: 18px !important;
		
				}
			}
		}
		
		.mo_person_position {
			display: flex;
			justify-content: center;
			font-size: 1.1rem;
			font-weight: 700;
		}

		.mo_person_description {
			display: flex;
			justify-content: center;
			font-size: 1.3rem;
			font-weight: 400;
			margin-top: 10px;
		}
		.mo_person_full_name {
			display: flex;
			justify-content: center;
			font-size: 1.8rem;
			font-weight: 700;
		}

	}
}


/** Modal */
// .modal {
// 	pointer-events: none;
// 	opacity: 0;
// 	transition: opacity 0.3s;
// 	position: absolute;
// 	top: 10px;
// 	left: 0;
// 	right: 0;
// 	max-width: 300px;
// 	margin: 0 auto;
// 	padding: 30px;
// 	background: #fff;
// 	border-radius: 4px;
// 	box-shadow: 0 3px 10px rgba(0,0,0,0.3);
//   }
//   .modal-close-btn {
// 	position: absolute;
// 	right: 10px;
// 	top: 10px;
// 	font-size: 20px;
//   }
  
//   /** Overlay */
//   .overlay {
// 	pointer-events: none;
// 	opacity: 0;
// 	transition: opacity 0.3s;
// 	position: fixed;
// 	top: 0;
// 	left: 0;
// 	right: 0;
// 	bottom: 0;
// 	width: 100%;
// 	height: 100%;
// 	background-color: rgba(0,0,0,0.3);
//   }
  
//   /** JS */
//   .is-visible {
// 	opacity: 1;
// 	pointer-events: auto;
//   }

.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
    display: none;
    overflow: hidden;
    outline: 0;
}

.fade {
    opacity: 0;
    transition: opacity .15s linear;
}

.active {
	display: block;
	opacity: 1;
}

.modal-dialog {
    max-width: 500px;
    margin: 1.75rem auto;
}

.modal-dialog-centered {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    min-height: calc(100% - (0.5rem * 2));
}

.modal-dialog-centered {
    min-height: calc(100% - (1.75rem * 2));
}

.modal-body {
    position: relative;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1rem;
}

.modal-dialog {
    position: relative;
    width: auto;
    margin: 0.5rem auto;
    pointer-events: none;
}

.modal.fade .modal-dialog {
    transition: -webkit-transform .3s ease-out;
    transition: transform .3s ease-out;
    transition: transform .3s ease-out,-webkit-transform .3s ease-out;
    -webkit-transform: translate(0,-25%);
    transform: translate(0,-25%);
	-webkit-transform: translate(0,0);
    transform: translate(0,0);
}
  

// .modal_content {
// 	background-color: red;
// 	color: #fff;
// 	height: auto;
// 	width: 450px;
// 	padding: 20px;
// 	top: 0;
// 	position: absolute;
//     top: 50%;
//     left: 50%;
//     margin-top: -50px;
//     margin-left: -50px;
// }

// .hidden {
// 	display: none;
// }

// .shown {
// 	display: block;
// }